.elementor-140 .elementor-element.elementor-element-341a4cc{--spacer-size:50px;}.elementor-140 .elementor-element.elementor-element-d2ec514 > .elementor-container{max-width:932px;}.elementor-140 .elementor-element.elementor-element-9f1292f:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-140 .elementor-element.elementor-element-9f1292f > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-140 .elementor-element.elementor-element-9f1292f > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-140 .elementor-element.elementor-element-9f1292f > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-140 .elementor-element.elementor-element-dda47a2 .elementor-heading-title{color:#FFFFFF;font-family:"Helvetica", Sans-serif;font-size:39px;font-weight:900;}.elementor-140 .elementor-element.elementor-element-46360c2{--spacer-size:26px;}.elementor-140 .elementor-element.elementor-element-1722baf .elementor-heading-title{color:#FFFFFF;font-family:"Helvetica", Sans-serif;font-size:29px;font-weight:900;}.elementor-140 .elementor-element.elementor-element-cfadfc4{--spacer-size:50px;}.elementor-140 .elementor-element.elementor-element-01fc107 .elementor-heading-title{color:#FFFFFF;font-family:"Helvetica", Sans-serif;font-size:29px;font-weight:900;}.elementor-140 .elementor-element.elementor-element-6e56c16 > .elementor-container{max-width:932px;}.elementor-140 .elementor-element.elementor-element-6e56c16{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-140 .elementor-element.elementor-element-6e56c16 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-140 .elementor-element.elementor-element-b006018:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-140 .elementor-element.elementor-element-b006018 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-140 .elementor-element.elementor-element-b006018 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-140 .elementor-element.elementor-element-b006018 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-140 .elementor-element.elementor-element-22a4cd9 .elementor-button{font-family:"Montserrat", Sans-serif;font-size:25px;font-weight:800;background-color:#0611BD;}.elementor-140 .elementor-element.elementor-element-c7ebb54 > .elementor-container{max-width:932px;}.elementor-140 .elementor-element.elementor-element-275aa92:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-140 .elementor-element.elementor-element-275aa92 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-140 .elementor-element.elementor-element-275aa92 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-140 .elementor-element.elementor-element-275aa92 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-140 .elementor-element.elementor-element-778dda8{--lottie-container-width:10%;--lottie-container-max-width:10%;}body.elementor-page-140:not(.elementor-motion-effects-element-type-background), body.elementor-page-140 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#110541;}@media(max-width:767px){.elementor-140 .elementor-element.elementor-element-46360c2{--spacer-size:10px;}.elementor-140 .elementor-element.elementor-element-cfadfc4{--spacer-size:10px;}}/* Start custom CSS for button, class: .elementor-element-22a4cd9 */.pulse {
	animation: pulse 0.7s infinite;
	margin: 0 auto;
	display: table;
	margin-top: 0px;
	animation-direction: alternate;
	-webkit-animation-name: pulse;
	animation-name: pulse;
}
@-webkit-keyframes pulse {
	0% {
	-webkit-transform: scale(1);
}
100% {
	-webkit-transform: scale(1.1);
}
} @keyframes pulse {
	0% {
	transform: scale(1);
}
100% {
	transform: scale(1.1);
}/* End custom CSS */
/* Start custom CSS */.pulse {
	animation: pulse 0.7s infinite;
	margin: 0 auto;
	display: table;
	margin-top: 0px;
	animation-direction: alternate;
	-webkit-animation-name: pulse;
	animation-name: pulse;
}
@-webkit-keyframes pulse {
	0% {
	-webkit-transform: scale(1);
}
100% {
	-webkit-transform: scale(1.1);
}
} @keyframes pulse {
	0% {
	transform: scale(1);
}
100% {
	transform: scale(1.1);
}/* End custom CSS */